{% extends "../base.html" %} 
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock links %}

{% block title %}
  Blog:Login
{% endblock title %}
  
{% block content %}
<div class="box-form">
  <div class="left">
    <div class="overlay">
      <h1>Hello World.</h1>
      <p>
        All you need in TECH.
      </p>
      
    </div>
  </div>
  <div class="right">
    {% if form.errors %}
      <p class="error" style="color: #fefefe;">Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if next %} 
    {% if user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
      <p class="error" style="color: #fefefe;">
        Your account doesn't have access to this page. To proceed, please login
        with an account that has access.
      </p>
    </div>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %} 
    {% endif %}
    <h5>Login</h5>
    <p>
      Don't have an account? <a href="{% url 'accounts:register' %}">Creat Your Account</a> it takes less
      than a minute
    </p>
    <form class="inputs" method="post" action="{% url 'login' %}">
      {% csrf_token %} 
      {{ form.username.label_tag }} 
      {{ form.username }} 
      {{form.password.label_tag }} 
      {{ form.password }}
      <input type="submit" value="login"/>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br />
    <!-- <div class="remember-me--forget-password">
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
    <br /> -->
  </div>
</div>
{% endblock %}
